.menu_icon {
  display: none;
  cursor: pointer;
}

.cross_icon {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

@media screen and (max-width: 850px) {
  .cross_icon {
    display: inline;
    position: absolute;
    right: 20px;
    top: 10px;
  }

  .menu_icon {
    display: block;
    position: absolute;
    right: 30px;
  }

  .ul_list {
    display: none;
  }

  .res_list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3rem 0;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 24px;
    box-shadow: 2px 2px 14px #000;
  }

  li {
    cursor: pointer;
  }

  .ul_dark {
    background: #f8ced5;
    background: -moz-linear-gradient(354deg, #71595d 0%, #092537 100%);
    background: -webkit-linear-gradient(
      354deg,
      #89666c 0%,
      rgba(9, 37, 55, 1) 100%
    );
    background: linear-gradient(354deg, #a1797f 0%, rgba(9, 37, 55, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc0cb", endColorstr="#092537", GradientType=1);
    color: #cafbc5;
  }

  .ul_light {
    background: #e792a0;
    background: -moz-linear-gradient(90deg, #dbe051 0%, #989898 100%);
    background: -webkit-linear-gradient(90deg, #a8021e 0%, #acabab 100%);
    background: linear-gradient(90deg, #dfe2cf 0%, #fefdf0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc0cb", endColorstr="#ffffff", GradientType=1);
    color: #052101;
  }

  .transparent_div::before {
    content: "";
    background: #000000bd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  .ul_controller_visible {
    overflow: hidden;
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: 5px;
    height: 99vh;
    width: 75%;
    transition: right 0.3s ease-in;
  }

  .ul_controller_hidden {
    overflow: hidden;
    border-radius: 20px;
    top: 5px;
    height: 99vh;
    width: 75%;
    right: -100%;
    position: absolute;
    animation: slideIn;
    transition: right 0.4s linear;
  }

  @keyframes slideIn {
    from {
      right: -300%;
    }

    to {
      right: 0;
    }
  }
}
